<div  [@routerTransition]>
    <app-page-header [heading]="'View PI History'" [icon]="'fa-desktop'"></app-page-header>
    <table class="table">
        <tr *ngFor="let hdr of hdr_list">
          <td>
            {{hdr.txn_no}}
          </td>
          <td>
            {{hdr.supplier_code}}
          </td>
          <td>
            {{hdr.notice_pi_reply_date | date:'yyyy-MMM-dd'}}
          </td>
          <td>
            {{hdr.status}}
          </td>
          <td>
              <div class="row">
                  <div class="col-sm">
                      <button class='btn btn-primary' (click)="onView(hdr.txn_no)"> View</button>
                  </div>
                  <div class="col-sm">
                      <!-- <button class='btn btn-success' (click)="onSelect(hdr.txn_no)"> Edit</button> -->
                      <a [routerLink]="['bn-pi-reply/', hdr.txn_no]">
                        <span class="btn btn-primary">Edit</span>
                      </a>
                  </div>
              </div>
            
            
          </td>
        </tr>
      </table>
      
</div>
