<div  [@routerTransition]>
    <app-page-header [heading]="'View PI History'" [icon]="'fa-desktop'"></app-page-header>
    <!-- <table class="table">
        <tr *ngFor="let hdr of hdr_list">
          <td>
            {{hdr.txn_no}}
          </td>
          <td>
            {{hdr.supplier_code}}
          </td>
          <td>
            {{hdr.notice_pi_reply_date | date:'yyyy-MMM-dd'}}
          </td>
          <td>
            {{hdr.status}}
          </td>
          <td>
              <div class="row">
                  <div class="col-sm">
                      <button class='btn btn-primary' (click)="onView(hdr.txn_no)"> View</button>
                  </div>
                  <div class="col-sm">
                      
                      <a [routerLink]="['bn-pi-reply/', hdr.txn_no]">
                        <span class="btn btn-primary">Edit</span>
                      </a>
                  </div>
              </div>
            
            
          </td>
        </tr>
      </table> -->
      <!-- <a [routerLink]="['bn-pi-reply/', '25629']">
        <span class="btn btn-primary">Edit</span>
      </a> -->
      <!-- <a [routerLink]="['status', 'complete']">
        <span class="btn btn-primary">Edit</span>
      </a>  -->
      {{temp_text}}
      <br/>
      <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
        Rerender
      </button>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      
      </table>
      
</div>
