<div [@routerTransition]>
    <app-page-header [heading]="'View PI Shipment'" [icon]="'fa-desktop'"></app-page-header>

    <ul class="create_choice">
        <li *ngFor="let choice of create_choice" [class.selected]="choice === selectedChoice" (click)="onSelect(choice)">
            <!-- <span class="badge">{{ choice.type_name }}</span> {{ choice.type_name }} -->
            <button type="button" class="btn waves-effect waves-light blue" [routerLink]="['create/', choice.type_name]">{{choice.type_name}}</button>
        </li>
    </ul>

    <div *ngIf="selectedChoice">
        <h2>{{ selectedChoice.type_name }} Details</h2>
        <button type="button" class="btn waves-effect waves-light blue" [routerLink]="['create/', selectedChoice.type_name]">Create</button>
    </div>

    <!--  <form [formGroup]="form">
        <input formControlName="first"> 
        <button type="button" class="btn waves-effect waves-light blue" (click)="goToShipment()">Create</button>
      </form> 

     <div class="form-group" [formGroup]="create">
        <label>Create Shipment</label>
        <div class="row">
            <div class="col-lg-6">
                <select class="form-control"  [(ngModel)]="create_type" >
                    <option>--Please Choose--</option>
                    <option>BirdNest</option>
                    <option>Seriti</option>
                </select>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn waves-effect waves-light blue" (click)="goToShipment()">
                    Create
                </button>
            </div>
        </div>
    </div>  -->
</div>
