<div class="formGroup" [formGroup]="group">
    <fieldset class="form-group">
        <label>Shipment No:</label>
        <input class="form-control" id="shipment_no" name="shipment_no" formControlName="shipment_no"/>
    </fieldset>
    <fieldset class="form-group">
        <label>Status:</label>
        <input class="form-control" id="status" name="status" formControlName="status"/>
    </fieldset>
    <fieldset class="form-group">
        <div class="form-group">
            <label>Create Date:</label>
            <!-- <input class="form-control" id="created_date" name="created_date" formControlName="created_date" value="{{tpl_data.created_date | date: 'yyyy-MMM-dd' }}"/> -->
            <input class="form-control" id="created_date" name="created_date" formControlName="created_date"/>

        </div>
    </fieldset>

     <!-- <fieldset class="form-group">
        <label>Supplier Code:</label>
        <select class="form-control" id="supplier_code" name="supplier_code" formControlName="supplier_code">
            <option *ngFor="let tpl of tpl_supplier_code" [value]="tpl.supplier_code">{{ tpl.supplier_code }}</option>
        </select>
    </fieldset>  -->
</div>
