<app-page-header [heading]="'PI Shipment'" [icon]="'fa-desktop'"></app-page-header>

<div class="">
    {{ url_para_create }}

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- <fieldset class="form-group">
                    <label>Supplier Code:</label>                    
                    <select>
                            <option *ngFor="let tpl of tpl_supplier_code" [value]="tpl.supplier_code">{{tpl.supplier_code}}</option>
                        </select>  
                </fieldset> -->
        <app-shipment-header [tpl_supplier_code]="tpl_supplier_code" 
        [tpl_data]="tpl_data"
        [group]="form.get('shipment_detail')"></app-shipment-header>
        <app-shipment-birdnest [group]="form.get('shipment_detail')"></app-shipment-birdnest>
        <button type="button" class="btn btn-primary" type="submit">
            SUBMIT
        </button>
    </form>
</div>
